.button-redirect-to-games {
  width: 9%;
  height: 56px;
  margin-left: 418px !important;

  background-color: #30f2f2 !important;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ant-spin-dot-item {
  background-color: #252320;
}
.ant-spin {
  color: #30f2f2 !important;
  font-size: 14px;
  font-weight: 600;
}
.spinContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

@media only screen and (max-width: 1366px) {
  .table {
    margin-top: -5%;
  }

  .button-redirect-to-games {
    width: 9%;
    height: 56px;
    margin-left: 245px !important;

    position: fixed;
    background-color: #30f2f2 !important;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
