.container-create-game-modal {
  width: 500px;
  height: 600px;

  margin-left: 750px;
  border-radius: 35px;
  background-color: #d9329e;

  display: block;
  justify-content: center;
  align-items: center;
}

.inputs-modal {
  width: 100%;
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input.MuiInputBase-input {
  width: 400px;
  height: 40px;
  border-radius: 5px;

  text-align: center;
  margin-top: 50px !important;
  background-color: #f5f8fa !important;
}

.MuiInput-underline::before {
  display: none;
}

.MuiInput-underline::after {
  display: none;
}

.button-create-modal.MuiButton-root {
  width: 35%;
  height: 64px;
  border-radius: 15px;

  margin-left: 155px;
  margin-top: 45px;

  background-color: #30c8d9 !important;
}

label {
  margin-top: 30px;
}

.launchDateModal {
  margin-top: -40px;
}

.nameGameModal {
  margin-top: -40px;
}

.developerModal {
  margin-top: -40px;
}

.priceModal {
  margin-top: -40px;
}

@media only screen and (max-width: 1366px) {
  .container-create-game-modal {
    width: 480px;
    height: 580px;
    margin-left: 450px;
    margin-top: 40px;

    border-radius: 35px;
    background-color: #d9329e;

    display: block;
    justify-content: center;
    align-items: center;
  }

  .inputs-modal {
    width: 100%;
    margin-top: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  input.MuiInputBase-input {
    width: 400px;
    height: 40px;
    border-radius: 5px;

    text-align: center;
    margin-top: 50px !important;
    background-color: #f5f8fa !important;
  }

  .MuiInput-underline::before {
    display: none;
  }

  .MuiInput-underline::after {
    display: none;
  }

  .button-create-modal.MuiButton-root {
    width: 35%;
    height: 64px;
    border-radius: 15px;

    margin-left: 155px;
    margin-top: 30px;

    background-color: #30c8d9 !important;
  }

  .MuiInputAdornment-positionEnd {
    margin-left: -42px !important;
    margin-top: 50px;
  }
}
